<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="miCadenaConexion"
           connectionString="Data Source=localhost\SQLSERVER2012;
           Initial Catalog=GD2C2015;
           User=gd;
           password=gd2015;
           Integrated Security=True"/>
    </connectionStrings>
</configuration>